body {
   font-family: 'Share Tech Mono', ;

}
li{
	color: white ;	
	padding-left: 20px;
}
.contact li {
	color: #505050 ;	
}
header{
	background: #44A2C0;
}
h1{
	color: white;
	    margin: 0;
    padding-top: 10px;
    font-style: bold;
}
h3{
	
	font-style: italic;
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 0;
    margin-bottom: 20px;
	
}
.container{
	padding-left: 100px;
	padding-right: 100px;
}
.main-content{
	width: 700px;
	float: left;
	/*background-color: #f0f5f5;*/
	margin-right: 10px;
}
.right-bar{
	float: left;
    width: 350px;
}
.social-icon{
	padding-top: 10px;
	margin-left: 20px;
}
footer{
	padding-top: 5px;
	clear: both;
	background: #505050;
	color: white;
	text-align: center;

}
/*set background for each section*/
.intro{
	background: #FFC56F;
}
.hard-skill	{
	background: #877399;
}
.soft-skill{
	background: #48C383;
}
.experience{
	background: #C35C48;
}
.project{
	background: #7BC044;
	margin-bottom: 10px;
}

.intro, .hard-skill, .soft-skill, .experience, .project{
	padding-bottom: 20px;
	padding-top:20px;
}